#yellow{
	background-color:rgb(255, 255, 0);
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-right-width:3px;
	border-left-color: green;
	border-top-color: green;
	border-bottom-color: green;
	border-right-color: green;
	
}

#red{
	background-color:rgb(255, 0, 0);
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-right-width:3px;
	border-left-color:black;
	border-top-color: black;
	border-bottom-color: black;
	border-right-color: black;
	
}

#green{
	background-color:rgb(0, 128, 0);
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-right-width:3px;
	border-left-color:yellow;
	border-top-color: yellow;
	border-bottom-color: yellow;
	border-right-color: yellow;
}